#navg{background-color: lawngreen;}

#fg:hover{background-color:gray;}
 .section-icon {
    position: absolute;
    left: 43%;
    margin-left: -21px;
    margin-top: 58px;
    z-index: 999;
}
.section-content {
padding: 15% 25% 15% 20%;}
#aboutdiv{width:40%;padding:30px;}

/*contact us*/
.color-bg {
    background: #8bc34a;
}
#contact{font-size:100px;color:white;margin-left:10px;margin-top:50px;font-family:Georgia;}
.center-block li{list-style-type:none;display:inline-block;}

/* style for menu */
#box{height:600px;overflow-y:scroll;}
.jumbotron{margin:10px;height:10px;}
